.feedback {
  padding: 2em;
  margin: 0 auto;
  text-align: left;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.feedback:hover {
  transform: translateY(-7px);
}

.feedback__description {
  margin-top: 1em;
}

.feedback__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.feedback__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.feedback .link--icon {
  margin-left: 0.5em;
}
